.expense-modal {
  border-radius: 20px;
  border: 5px solid #87ceeb;
  background-color: white;
}

#expense-description {
  padding: 0 0 20px 0;
}

#expense-description h3 {
  color: var(--clr-blue);
  padding: 0 0 10px 0;
}

.headings {
  padding-top: 20px;
}

.headings button {
  margin: 0;
}

.expenses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

.addButton {
  width: 30%;
  border: none;
  background: var(--clr-blue) !important;
  border-radius: 10px !important;
  color: #fff !important;
  padding: 15px !important;
  font-family: var(--ff-secondary) !important;
  font-size: 20px !important;
}

.addButton:hover {
  background: var(--clr-yellow) !important;
  color: var(--clr-blue) !important;
}

.expenses-list {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.expense-card {
    width: 60%;
    border: 1px solid var(--clr-green);
    margin: 15px 0;
}

.expense-content {
    background-color: var(--clr-green);
    display: flex;
    padding-right: 0 !important;
}

.expense-content h2 {
    color: white;
}

.payTo {
    width: 100%;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

.payTo h3 {
    padding: 5px 10px 5px 15px;
    width: 40%;
    background-color: var(--clr-yellow);
    color: var(--clr-blue);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: right;
}

.venmo {
    width: 15%;
    height: 100%;
    padding-left: 5px;
}
