@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
}

:root {
  /* Typography */
  --ff-primary: 'Lobster', cursive;
  --ff-secondary: 'Arima', cursive;

  --h1-font-size: 48px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --h4-font-size: 20px;
  --reg-font-size: 16px;

  --font-bold: 600;
  --font-medium: 400;

  /* Colors */
  --clr-blue: #1b4d89;
  --clr-yellow: #f9e45b;
  --clr-green: #6db784;
  --clr-light-blue: #42d0b1;

  /* Margin bottom */
  --mb-1: 16px;
  --mb-2: 32px;
  --mb-3: 48px;

  /* Spacing */
  --md-spacing: 16px;
  --lg-spacing: 32px;

  /* Border Radius */
  --br-reg: 12px;

  /* Header Height */
  --header-height: 100px;
}

html {
  scroll-behavior: smooth;
}