@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}

.header {
    background: var(--clr-light-blue);
    width: 100%;
    height: var(--header-height);
    padding: 0 1.5rem;
    @include breakpoint(md) {
        padding: 0 3rem;
    }
    transition: 0.3s ease all;

    &__content {
        overflow: hidden;
        color: var(--clr-green);
        margin: 0 auto;
        max-width: 1920px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;

        &__logo {
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            color: var(--clr-green);
        }

        &__nav {
            top: 0;
            right: 100%;
            bottom: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba(var(--clr-light-blue), 0.9);
            backdrop-filter: blur(2px);
            transform: translate(0);
            transition: 0.3s ease transform;

            @include breakpoint(md) {
                transform: none;
                flex-direction: row;
                background: transparent;
                width: auto;
                height: 100%;
                position: static;
            }
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                margin-bottom: var(--lg-spacing);
                @include breakpoint(md) {
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                    margin-right: calc(0.5rem + var(--md-spacing));
                }
                li {
                    &:not(:last-child) {
                        margin-bottom: var(--lg-spacing);
                        @include breakpoint(md) {
                            margin-bottom: 0;
                            margin-right: var(--md-spacing);
                        }
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                        padding: 0.75rem 1.25rem;
                        border-radius: var(--br-reg);
                        transition: 0.3s ease all;

                        &:hover {
                            background: rgba(var(--clr-green), 0.1);
                        }
                        &:active {
                            border-radius: calc(#{$var(--br-reg)} + 6px);
                            background: linear-gradient(rgba($var(--clr-green), 0.1), rgba($var(--clr-green), 0.2));
                        }
                    }
                }
            }
            button {
                cursor: pointer;
                outline: none;
                padding: 0.75rem 1.25rem;
                border-radius: var(--br-reg);
                font-size: 1rem;
                font-family: inherit;
                background: $var(--clr-blue);
                color: var(--clr-light-blue);
                border: 1px solid transparent;
                transition: 0.3s ease all;

                &:hover {
                    border-color: $var(--clr-blue);
                    background: rgba(var(--clr-blue), 0.1);
                    color: $var(--clr-blue);
                }
                &:active {
                    border-color: $var(--clr-blue);
                    background: linear-gradient(rgba(var(--clr-blue), 0.2), rgba(var(--clr-blue), 0.3));
                    color: $var(--clr-blue);
                }
            }

            &.isMenu {
                transform: translate(100%);
            }
        }

        &__toggle {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 2rem;
            transition: 0.3s ease all;
            position: relative;

            &:hover {
                color: var(--clr-blue);
            }

            @include breakpoint(md) {
                display: none;
            }
        }
    }
}