.nav__title {
  font-family: var(--ff-primary) !important;
  font-size: 40px !important;
}

.nav__home {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: end;
  align-items: center;
}

.app-bar {
  background-color: var(--clr-blue) !important;
}

.username-container {
  background-color: white;
  padding: 3px 4px;
  margin-left: 4px;
  border-radius: 5px;
  display: inline-block;
}

.username {
  font-family: var(--ff-primary);
  color: var(--clr-blue);
  font-size: 20px;
}
