.create-trip-container {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.headings {
  text-align: center;
}

.padding {
  padding: 20px;
}

p {
  font-family: var(--ff-secondary);
}

.remove-friend-btn {
  padding: 6px 10px;
  margin: 0px 4px;
  font-size: 17px;
  background-color: rgb(206, 206, 206);
  color: black;
  font-family: "Verdana", sans-serif;
  border-radius: 5px;
  border: none;
}

.remove-friend-btn:hover {
  cursor: pointer;
  background-color: #ff1d1d;
  color: white;
}

.added-friends-container {
  display: flex;
  flex-wrap: wrap;
}
