/* general styles  */
.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.top-line {
  color: var(--clr-blue);
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 60px !important;
  line-height: 1.1;
  font-weight: var(--font-bold);
  color: var(--clr-yellow);
  font-family: var(--ff-primary);
}

.dark {
  color: var(--clr-blue);
}

.darkBg {
  background-color: var(--clr-blue);
}

button {
  border: none;
  background: var(--clr-blue);
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  font-family: var(--ff-secondary);
}

button:hover {
  background: var(--clr-green);
}

/* hero styles */
.home__hero-section {
  color: #fff;
  padding: 160px 0;
}

.home__hero-row {
  align-items: center;
}

.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.95;
  padding: 50px;
  font-family: var(--ff-secondary);
  margin-left: 60%;
  margin-right: 10%;
}

.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: var(--clr-blue);
}

.home__hero-img-wrapper {
  max-width: 555px;
}

.home__hero-img {
  max-width: 95%;
  padding-right: 0;
  margin: 0 0 0 10px;
}

.hero__img {
  background-image: url(/public/images/dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
  background-size: cover;
  background-position: 60%;
}

.home__section {
  color: var(--clr-blue);
  padding: 160px 0;
  margin: 30px;
  border-radius: 10px;
}

.home__row {
  align-items: center;
}

.home__text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
  margin-left: 10%;
}

.home__content {
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.8;
  padding: 50px;
  font-family: var(--ff-secondary);
}

.home__subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__img-wrapper {
  max-width: 555px;
}

.home__img {
  max-width: 95%;
  padding-right: 0;
  margin: 0 0 0 10px;
}

.carbon__img {
  background-image: url(/public/images/carbon-img.jpg);
  background-position: 80%;
  background-size: cover;
}

.friends__img {
  background-image: url(/public/images/friends-img.jpg);
  background-position: 10% 40%;
  background-size: cover;
}

.splitwise__img {
  background-image: url(/public/images/expenses-img.jpg);
  background-position: 20% 90%;
  background-size: cover;
}

/* media queries */
@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
