.container {
  border-radius: 10px;
  opacity: 0.8;
  background-color: white;
  margin: auto;
  height: 95vh;
}

.login {
  padding: 50px;
  text-align: center;
}

.form {
  width: 30%;
  margin: auto;
}

.padding {
  padding: 10px;
}

h1 {
  font-family: var(--ff-primary);
  color: var(--clr-green);
  font-size: 40px;
}

h2 {
  font-family: var(--ff-secondary);
}

h3 {
  font-family: var(--ff-secondary);
}
