.container {
  border-radius: 10px;
  margin: auto;
  height: 95vh;
}

.login {
  padding: 50px;
  text-align: center;
}

.form-container {
  width: 50%;
  margin: 0% 25% !important;
  justify-content: center;
}

.padding {
  padding: 10px;
}

h1 {
  font-family: var(--ff-primary);
  color: var(--clr-green);
  font-size: 40px;
}

h2 {
  font-family: var(--ff-secondary);
}

h3 {
  font-family: var(--ff-secondary);
}
