.container {
  border-radius: 10px;
  opacity: 0.8;

  background-color: white;
  margin: auto;
  height: 95vh;
}

.no-match {
  padding: 50px;
  text-align: center;
}

h1 {
  font-family: var(--ff-primary);
  color: var(--clr-green);
  font-size: 40px;
}

h2 {
  font-family: var(--ff-secondary);
}
