.profile-container {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.headings {
  text-align: center;
}

.padding {
  padding: 20px;
}

/* .button {
  border: none;
  background: var(--clr-blue) !important;
  border-radius: 4px !important;
  color: #fff !important;
  padding: 10px !important;
  font-family: var(--ff-secondary) !important;
}

.button:hover {
  background: var(--clr-green) !important;
} */

h2 {
  font-family: var(--ff-primary);
}

h4 {
  font-family: var(--ff-secondary);
}

p {
  font-family: var(--ff-secondary);
}

.friendLink {
  text-decoration: none;
  font-family: var(--ff-secondary);
  color: var(--clr-blue);
}
