.profile-container {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.headings {
  text-align: center;
}

.padding {
  padding: 20px;
}

h2 {
  font-family: var(--ff-primary);
}

h4 {
  font-family: var(--ff-secondary);
}

p {
  font-family: var(--ff-secondary);
}

.friendLink {
  text-decoration: none;
  font-family: var(--ff-secondary);
  color: var(--clr-blue);
}

.friend-list-container {
  position: absolute;
  top: 262.5px;
  right: 10vw;
  border: 1px var(--clr-blue) solid;
  background-color: var();
  border-radius: 5px;
}

.friend-list-h1 {
  padding-left: 16px;
  color: white;
  background-color: var(--clr-blue);
}

.disabled-button {
  background-color: rgb(204, 204, 204) !important;
  color: rgb(94, 94, 94) !important;
}
