
.navMenu {
    display: flex;
    justify-content: center;
}  
.navMenu a {
    font-family: var(--ff-secondary);
    color: #87CEEB;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    display: inline-block;
    transition: all 0.2s ease-in-out;
    margin: 8px 15px 15px 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  }
  
  .navMenu a:hover {
    color: #fddb3a;
  }
  