.parent-container {
  margin: 0 50px;
}

.submitButtonWrapper {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

button[type="submit"].update {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  border: none;
  background: var(--clr-blue) !important;
  border-radius: 4px !important;
  color: #fff !important;
  padding: 10px !important;
  font-family: var(--ff-secondary) !important;
  margin: auto;
  width: 30%;
}

button[type="submit"].update:hover {
  background: var(--clr-yellow) !important;
  color: var(--clr-blue) !important;
}

button.modal-btn {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: white;
  font-weight: 800;
  cursor: pointer;
  margin: 10px 7px 0 7px;
}

button.modal-btn.cancel {
  background-color: #00bfff;
  border: 1px solid #00bfff;
}

button.modal-btn.delete {
  background-color: #ff6347;
  border: 1px solid #ff6347;
}

button.modal-btn.ok {
  background-color: var(--clr-green);
  border: 1px solid var(--clr-green);
  padding: 5px 10px;
}

button[type="submit"]:hover,
button.modal-btn:hover,
button[type="submit"]:active,
button.modal-btn:active {
  transition-duration: 0.2s;
  background-color: initial;
  color: #00bfff !important;
}

.card:hover {
  transform: scale(1);
}

img:hover {
  opacity: 0.7;
  transition-duration: 0.4s;
  transform: scale(1.05);
}

.font {
  font-family: var(--ff-secondary) !important;
}
