footer {
  background: var(--clr-blue);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 0;
}

.footer-container {
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: #fff;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-box {
  text-align: center;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: center;
}

.footer-link {
  cursor: pointer;
  margin-right: 20px;
  color: #fff;
}

.footer-icon__container {
  margin-bottom: 10px;
}

.footer-icon {
  cursor: pointer;
  margin-right: 20px;
  color: #fff;
}

.copyright {
  justify-content: center;
  align-items: center;
}
