footer {
  background: var(--clr-blue);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-box {
  text-align: center;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer-link {
  cursor: pointer;
}

.footer-icon__container {
  margin-bottom: 10px;
}

.footer-icon {
  cursor: pointer;
}

.copyright {
  justif-content: center;
  align-items: center;
}