.home__friends-section {
  color: var(--clr-blue);
  padding: 160px 0;
}

.home__friends-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__friends-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
  margin-left: 60%;
  margin-right: 10%;
}

.friends__content {
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.8;
  padding: 50px;
  font-family: var(--ff-secondary);
}

.top-line {
  color: var(--clr-blue);
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: var(--font-bold);
  color: var(--clr-yellow);
}

.dark {
  color: var(--clr-blue);
}

.darkBg {
  background-color: var(--clr-blue);
}

.home__friends-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__friends-img-wrapper {
  max-width: 555px;
}

.home__friends-img {
  max-width: 95%;
  padding-right: 0;
  margin: 0 0 0 10px;
}

.friends__img {
  background-image: url(/public/images/friends-img.jpg);
  background-position: 10% 40%;
  background-size: cover;
}

button {
  border: none;
  background: var(--clr-blue);
  border-radius: 4px;
  color: #fff;
  padding: 10px;
}

button:hover {
  background: var(--clr-green);
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__friends-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
